<p id="notice"><%= notice %></p>

<h1>Streams</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Station</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%= render @streams %>
  </tbody>
</table>

<br>

<%= link_to 'New Stream', new_stream_path, class: "btn btn-primary" %>
